<div class="card">
  <div class="card-header">
    Simular Plazo Fijo
  </div>
  <div class="card-body">
    <form (formGroup)="formulario">
      <a (click)="habilitarForm()">Editar</a>
      <div>
        <div class="input-group">
          <input (formControlName)="capital" type="text" class="form-control" placeholder="Capital" [value]="capital" [disabled]="habilitar">
          <button class="btn btn-outline-secondary" type="button" (click)="incrCap(1000)">+</button>
          <button class="btn btn-outline-secondary" type="button" (click)="incrCap(-1000)">-</button>
        </div>
      </div>
      <div>
        <div class="input-group">
          <input (formControlName)="dias" type="text" class="form-control" placeholder="Capital" [value]="dias" [disabled]="habilitar">
          <button class="btn btn-outline-secondary" type="button" (click)="incrDias(1)">+</button>
          <button class="btn btn-outline-secondary" type="button" (click)="incrDias(-1)">-</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div  class="card">
    <div class="card-header">Historial de Simulaciones</div>
    <div class="card-body">
      <div *ngIf="errordb" class="alert alert-danger" role="alert">
       {{mjeError}}
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let simulacion of simulaciones; let i=index" class="list-group-item">{{simulacion | json}}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" (click)="crearPF(i)">Crear PF</button>
          </div>

        </li>
      </ul>
    </div>
  </div>

  