<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="text-white">{{mensaje}}</h1>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #closeAddExpenseModal></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <a (click)="navegar('simular')" class="list-group-item list-group-item-action">
        Simular Plazo Fijo
      </a>
      <a (click)="navegar('crear')"  class="list-group-item list-group-item-action">Crear Plazo Fijo</a>
      <!-- <a href="#" class="list-group-item list-group-item-action">A third link item</a>
      <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
      <a class="list-group-item list-group-item-action disabled">A disabled link item</a> -->
    </div>
    </div>
  </div>


<br><br>